.packageFormDiv {
  /* margin-top: -1rem; */
  /* height: calc(100vh - 5rem); */
  margin: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.packageFormDiv form {
  /* border: 2px solid red; */
  /* border: 4px solid #1F2A40; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 1rem;
  /* height: 34rem; */
  border-radius: 0.6rem;
  box-shadow: 1px 1px 20px -2px #000;
}
.packageFormDiv form .packageUpDiv {
  width: 90%;
  display: flex;
  gap: 1.6rem;
}
.packageFormDiv form textarea {
  /* width: 90%;
  height: 14rem; */
  background-color: #1f2a40;
  border: none;
  border-radius: 0.6rem;
  padding: 0.8rem 1rem;
  color: #fff;
  font-size: 1rem;
}
.packageFormDiv form input {
  width: 86%;
  padding: 0.2rem 1.4rem;
  background-color: #1f2a40;
  border: none;
  height: 2.4rem;
  border-radius: 0.6rem;
  color: #fff;
  font-size: 1rem;
}
.packageFormDiv form input[type="submit"] {
  /* width: 5rem; */
  cursor: pointer;
  float: right;
  padding: 0rem 0rem !important;
  font-weight: bolder;
  background-color: #3da58a;
  border: 2px solid #3da58a;
}
.packageFormDiv form input[type="submit"]:hover {
  background-color: transparent;
  color: #3da58a;
}

.packageFormDiv form input[type="file"] {
  display: none;
}

.packageFormDiv form label {
  cursor: pointer;
  color: #757575;
  padding: 0.4rem 1.4rem;
  background-color: #1f2a40;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  font-size: 1rem;
}
.packageFormDiv form .addPackageImage {
  justify-content: center;
  align-items: center;
}

.image1,
.image2,
.image3 {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
